
table {
    border-collapse: collapse;
    width: 100%;
    position: absolute;
    top: 25%
}

table, td,th {
    border: 1px solid black;
    text-align: center
}

th, td {
    padding: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

#workOuts{    
    position:absolute;
    top: 16%;
    left: 12.5%;
    width: 75%;
    height: 25%;
    font-size: 200%
}


#progress{    
    position:absolute;
    top: 58%;
    left: 12.5%;
    width: 75%;
    height: 25%;
    font-size: 200%;
}


#chest{
   position:absolute;
    top: 16%;
    left: 12.5%;
    width: 35%;
    height: 25%;
     
}

#back{
   position:absolute;
    top: 58%;
    left: 52.5%;
    width: 35%;
    height: 25%;
     
}

#legs{
   position:absolute;
    top: 58%;
    left: 12.5%;
    width: 35%;
    height: 25%;
     
}

#shoulders{
   position:absolute;
    top: 16%;
    left: 52.5%;
    width: 35%;
    height: 25%;
    
}

#info{
   position:absolute;
    top: 50%; 
}

#beginbutton{
    
    position: absolute;
    left: 5%;
    background-color: grey; 
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 90%;
    
}


#exerciseName{
    font-weight: bold;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 3%;
    
}

#restTime{
    
    position: absolute;
    width: 50%;
    text-align: center;
    left: 0%;
    top: 8%;
}

#repRange{
   
    position: absolute;
    width: 50%;
    text-align: center;
    left: 50%;
    top: 8%;
    
}

#nextButton, #prevButton, #endButton{
    
    position: absolute;
    top: 15%;
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 2% 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 40%;
    border-radius: 10%;
    
}

#nextButton, #endButton{
    left: 55%;
}

#prevButton{
    left: 5%
}



